.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  margin: .5rem;
  padding: 1rem;
  /* transition: transform 0.2s; */
}

.pokemon .name {
  text-transform: capitalize;
  color: #fff;
  margin-bottom: .25rem;
}

.pokemon .number {
  color: #000;
  font-size: .625rem;
  opacity: .3;
  text-align: right;
}

.pokemon .details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .details .types {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pokemon .details .types .type {
  filter: brightness(1.5);
  text-align: center;
  color: #000;
  margin: .25rem 0;
  padding: .25rem .5rem;
  font-size: .625rem;
  border-radius: 1rem;
}

.pokemons .details img {
 /* align-items: flex-end;
  display: flex;
  flex-direction: row;*/
  height: 70px;
  max-width: 100%;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em;
}

.pagination button {
  background-color: #6f38f6;
  border: none;
  border-radius: 1rem;
  color: #fff;
  font-size: 1rem;
  margin: .25rem 0;
  padding: 0.25rem .7rem;
  transition: background-color 0.3s ease;
} 

.footer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.875rem;
  text-align: center;
  margin: 1rem 0;
  color: #6f38f6;
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: repeat(2, 1fr);
  }  
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: repeat(3, 1fr);
  }  
}

@media screen and (min-width: 858px) {
  .pokemons {
    grid-template-columns: repeat(4, 1fr);
  }  
}